.vscode/launch.json
.vscode/tasks.json
bin/Debug/net6.0/Practica.deps.json
bin/Debug/net6.0/Practica.dll
bin/Debug/net6.0/Practica.exe
bin/Debug/net6.0/Practica.pdb
bin/Debug/net6.0/Practica.runtimeconfig.json
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/Practica.AssemblyInfo.cs
obj/Debug/net6.0/Practica.AssemblyInfoInputs.cache
obj/Debug/net6.0/Practica.assets.cache
obj/Debug/net6.0/Practica.csproj.AssemblyReference.cache
obj/Debug/net6.0/Practica.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Practica.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Practica.dll
obj/Debug/net6.0/Practica.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Practica.genruntimeconfig.cache
obj/Debug/net6.0/Practica.GlobalUsings.g.cs
obj/Debug/net6.0/Practica.pdb
obj/Debug/net6.0/ref/Practica.dll
obj/Debug/net6.0/refint/Practica.dll
obj/Practica.csproj.nuget.dgspec.json
obj/Practica.csproj.nuget.g.props
obj/Practica.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
